<section class="container">
  <div class="water">
      <div class="bg-image toggle-image first-image show">
        <div><h3 class="banner-upsell">NASA Tournament Lab challenges starting from $50</h3></div>
      </div>
      <div class="bg-image toggle-image second-image">
        <div><h3 class="banner-upsell">Exciting travel app design for $100</h3></div>
      </div>
      <div class="bg-image toggle-image third-image">
        <div><h3 class="banner-upsell">A beautiful illustration for only $30</h3></div>
      </div>

    <div class="bodyBanner">
      <h1>Hire expert freelancers for your online job.</h1>
      <h3>Millions of small businesses use Freelancer.com to turn their ideas into reality. Need to get work done? Click 'Hire' to get started!</h3>
      <button ui-sref="home" class="btn-lg btn-transparent">Hire</button>
      <button ui-sref="home" class="btn-lg btn-transparent">Work</button>
    </div>



    <!-- Another sentence that changes with the image -->
    <!-- A beautiful illustration for only $30
    NASA Tournament Lab challenges starting from $50
    Exciting travel app design for $100 -->
  </div>
</section>
